
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>  
        <legend> Get vs post</legend>
    <form action="/user" method="GET">
        <label  for="name">    name: </label>
        <input   name="name" type="text" placeholder=" name" id="name"/>
        <br>
        <br>

        <label  for="email">  email</label>
        <input   name="email" type="email" placeholder="email" id="email"/>
        <br>
        <br>
        <label for="pass">  password:   </label>
        <input   name="password" id="pass" type="password" placeholder="password"/>
<br>
<br>
     <button type="submit"> chale jao</button>
    </form>
</fieldset>
</body>
</html>


